<!DOCTYPE html>
{% extends 'dashboard.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Add products</h4>

                    <form class="forms-sample" enctype="multipart/form-data" action="{% url 'save_product' %}" method="post" onsubmit=" return form_validation()">
                         {% csrf_token %}
                      <div class="form-group">
                        <label>Products Name</label>
                        <input type="text" class="form-control" name="name" id="productname" placeholder="Name">
                      </div>
                      <div class="form-group">
                             <label>Product Category</label>
                             <select class="form-control" name="category" id="category">
                                 <option>-- Select Category --</option>
                                 {% for i in Category %}
                                    <option>{{ i.CategoryName }}</option>
                                 {% endfor %}
                             </select>
                        </div>

                        <div class="form-group">
                        <label>Prize</label>
                        <input type="text" class="form-control" name="prize" id="prize" placeholder="Prize">
                      </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputPassword4">Password</label>-->
<!--                        <input type="password" class="form-control" id="exampleInputPassword4" placeholder="Password">-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label for="exampleSelectGender">Gender</label>-->
<!--                        <select class="form-control" id="exampleSelectGender">-->
<!--                          <option>Male</option>-->
<!--                          <option>Female</option>-->
<!--                        </select>-->
<!--                      </div>-->
<!--                      <div class="form-group">-->
<!--                        <label>Upload Image</label>-->
<!--                        <input type="file" name="img[]" class="file-upload-default">-->
<!--                        <div class="input-group col-xs-12">-->
<!--                          <input type="text" class="form-control file-upload-info" name="img" disabled="" placeholder="Upload Image">-->
<!--                          <span class="input-group-append">-->
<!--                            <button class="file-upload-browse btn btn-primary" type="button">Upload</button>-->
<!--                          </span>-->
<!--                        </div>-->
<!--                      </div>-->
                        <div class="form-group">
              <label for="category_image">Category Image</label>
              <input
                type="file"
                class="form-control"
                id="category_image"
                name="img"
                accept="image/*"
                required
              >
            </div>
<!--                      <div class="form-group">-->
<!--                        <label for="exampleInputCity1">City</label>-->
<!--                        <input type="text" class="form-control" id="exampleInputCity1" placeholder="Location">-->
<!--                      </div>-->
                      <div class="form-group">
                        <label>Discriptions</label>
                        <textarea class="form-control" name="desc" id="Discriptions" rows="4"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-dark">Cancel</button>
                    </form>
                  </div>
                </div>
              </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">

        function form_validation() {

            let productname = document.getElementById("productname").value.trim();
            let category = document.getElementById("category").value.trim();
            let prize = document.getElementById("prize").value.trim();
            let category_image = document.getElementById("category_image").value.trim();
            let Discriptions = document.getElementById("Discriptions").value.trim();

            if (productname === "") {
                alert("Product name should not be blank");
                return false;
            }
            else if (category === "") {
                alert("Product category should not be blank");
                return false;

            }
            else if (prize === "") {
                alert("Prize should not be blank");
                return false;

            }
            else if(category_image === " "){
                alert("category image should not be blank")
                return false
            }
            else if(Discriptions === " "){
                alert(" Discriptions should not be blank")
                return false
            }
            else {
                alert("Form submitted successfully");
                return true;
            }
        }

{% if messages %}
    {% for msg in messages %}
         {% if msg.tags == 'success' %}
            <script>
                swal('{{m}}','','success')
            </script>
        {% elif msg.tags == 'warning' %}
            <script>
                swal('{{m}}','','warning')
            </script>
        {% elif msg.tags == 'error' %}
            <script>
                swal('{{m}}','','error')
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

    </script>

</body>
</html>
{% endblock %}